<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="DirectoryCatalog" value="/home/marko/progra/Projects2015/ShutYouDown/src/CompositionMockup/MockupParts/bin/Debug"/>-->
    <add key="DirectoryCatalog" value="C:\W\Personal\Projects\ShutYouDown\src\CompositionMockup\Catalog"/>
  </appSettings>
</configuration>